---
layout: default
title: Categorie
---

<h1 class="title">Tutte le categorie</h1>

{% if site.recipes_under_categories %}
{% assign htag = "h3" %}
{% else %}
{% assign htag = "li" %}
{% endif %}

{% assign sortedgroups = site.pages | where: "layout", "category" | map: "group" | uniq | sort %}
{% for group in sortedgroups %}
  <h2><i class="remixicon-price-tag-3-line"></i> {{ group }}</h2>
  {% assign sortedtags = site.pages | where: "layout", "category" | where: "group", group | sort: "title" %}
  {% unless site.recipe_under_categories %}
  <ul>
  {% endunless %}
  {% for tag in sortedtags %}
    <{{ htag }}><i class="remixicon-price-tag-3-line"></i> <a href="{{ site.baseurl }}/categoria/{{ tag.tag }}">{{ tag.title }}</a></{{ htag }}>
    {% if site.recipes_under_categories %}
    <ul>
      {% assign category_posts = site.ricette | where: "tags", tag.tag | sort: "title" %}
      {% for post in category_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
  {% unless site.recipe_under_categories %}
    </ul>
  {% endunless %}
{% endfor %}
