---
layout: default
pagination:
  enabled: true
  collection: ricette
---

<div class="posts">
    <section id="site-description">
        <p>
            Il mio ricettario personale, <span class="plant-based">100% plant-based e vegano <i
                class="ri-leaf-line"></i></span>.
            Ricette tradizionali, originali e scopiazzate, tutte provate e approvate da me.
        </p>
        <p>
            Plant-based non significa che il gusto sia mediocre. <a href="{{ site.baseurl }}/plant-based/">Perché
            plant-based?</a>
        </p>
    </section>

    {% include recipelist.html recipes=paginator.posts %}
    {% include paginator.html %}

    <p class="text-center"><i class="remixicon-price-tag-3-line"></i> <a href="{{ site.baseurl }}/{{ site.categories_page }}/">{% str all_categories %}</a></p>
</div>