<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png?v=w8p9grwj">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png?v=w8p9grwj">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png?v=w8p9grwj">
<link rel="manifest" href="{{ site.baseurl }}/assets/site.webmanifest?v=w8p9grwj">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/safari-pinned-tab.svg?v=w8p9grwj" color="#cc7f47">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico?v=w8p9grwj">
<meta name="apple-mobile-web-app-title" content="Le ricette di Davide">
<meta name="application-name" content="Le ricette di Davide">
<meta name="msapplication-TileColor" content="#cc7f47">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/browserconfig.xml?v=w8p9grwj">
<meta name="theme-color" content="#ffffff">