<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png?v=PYqRARrNMy">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png?v=PYqRARrNMy">
<link rel="icon" type="image/png" sizes="194x194" href="{{ site.baseurl }}/assets/favicon-194x194.png?v=PYqRARrNMy">
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/android-chrome-192x192.png?v=PYqRARrNMy">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png?v=PYqRARrNMy">
<link rel="manifest" href="{{ site.baseurl }}/assets/site.webmanifest?v=PYqRARrNMy">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/safari-pinned-tab.svg?v=PYqRARrNMy" color="#ff0f00">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico?v=PYqRARrNMy">
<meta name="apple-mobile-web-app-title" content="Le ricette di Davide">
<meta name="application-name" content="Le ricette di Davide">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ff0f00">