{% for recipe in include.recipes %}
    <article class="list-item">
        <h1><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></h1>
        <div>
            {% include recipe_eta.html recipe=recipe %}
        </div>
        <div>
            <i class="ri-scales-2-line"></i> {{ recipe.amounts_for }}
        </div>
        <div>
            {% include categories.html categories=recipe.tags %}
        </div>

        <div class="ingredients-short">
            <strong> Ingredienti:</strong>
            <ul>
                {% for ingredient_group_dict in recipe.ingredients -%}
                    {% for ingredient_group in ingredient_group_dict -%}
                        {% for ingredient in ingredient_group[1] -%}
                            <li>{{ ingredient.name }}</li>
                        {%- endfor %}
                    {%- endfor %}
                {%- endfor %}
            </ul>
        </div>
    </article>
{% endfor %}