{% if include.recipe.eta %}
    {% assign components = "" | split: "" %}

    {% if include.recipe.eta.preparation %}
        {% assign prep = "<strong>Preparazione:</strong> " | append: include.recipe.eta.preparation %}
        {% assign components = components | push: prep %}
    {% endif %}

    {% if include.recipe.eta.cooking %}
        {% assign cook = "<strong>Cottura:</strong> " | append: include.recipe.eta.cooking %}
        {% assign components = components | push: cook %}
    {% endif %}

    {% if include.recipe.eta.cooling %}
        {% assign cool = "<strong>Raffreddamento:</strong> " | append: include.recipe.eta.cooling %}
        {% assign components = components | push: cool %}
    {% endif %}

    <i class="ri-time-line"></i>
    {% for component in components %}
        {{ component }}
        {% if forloop.last == false %}
            ,
        {% endif %}
    {% endfor %}
{% endif %}
