table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    table-layout: fixed;
}
table tr {
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr td,
table tr th {
    &:last-child {
        width: 30%;
    }
}

table tr th {
    font-weight: bold;
    border-bottom: 1px solid #666666;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: none;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin: 0;
}
table tr th :last-child, table tr td :last-child {
    margin: 0;
}

.table-overflow {
  overflow-x: scroll;
  overflow-x: overlay;
}
