@import "vars";

[class^="ri-"], [class*=" ri-"] {
  position: relative;

  &::before {
    position: relative;
    top: 2px;
  }
}

.content {
  a {
    border-bottom: dotted 1px;
  }

  a:hover {
    border-bottom: solid 1px;
  }

  ol {
    counter-reset: list;
  }

  ol > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ul > li {
    margin: 5px 0 5px 0;
  }

  ul {
    padding: 0 20px 0 20px;;
  }

  ol {
    padding: 0 30px 0 30px;
  }

  ol > li:before {
    content: counter(list, decimal) ". ";
    counter-increment: list;
    position: absolute;
    left: -30px;
  }

  blockquote {
    //border: 1px solid black;
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
    font-style: italic;
  }

  .profile-picture {
    height: $image-size;
    width: $image-size;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;

    p & {
      padding: 0;
      margin: 0;
    }

    @media (max-width: $small-width) {
      img {
        margin-top: -5px;
      }
    }
  }

  img {
    text-align: center;
    width: 100%;
  }

  h1 {
    line-height: 130%;

    &.title {
      text-align: center;
    }
  }

  .meta {
    font-style: italic;
  }
}
